* {
    padding: 0;
    margin: 0;
}

a {
    border: none;
    text-decoration: none;
    color: #000000;
    /* color:; */
}

html{

    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    overflow: show;
}

body
{
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    background: #C45936;
    overflow: show;
}

#wrapper { width: 980px; overflow: show; }

.container_header {
    width: 100vw;
    height: auto;
}

.cont_head_info_on {
    width: 100%;
    height: auto;
    background-color: #FF8D55;
}

.img_head_logo_cont img{
    width: 120px;
    height: 60px;
}

/* Стили для навигатора по жанрам */

.cont_head_info_janrs {
    width: 100vw;
    height: 18px;
    background: #FFBB7C;
    padding: 13px 0;

}

.cont_text_janrs {
    display: flex;
    justify-content: space-around;
    margin-right: 15px;
}

.text_janr a{
    font-size: 17px;
    font-size: 16px;
    line-height: 19px;
    font-family: 'Inter';
    font-style: normal;
    color: #5f5f5f;

}

.text_j_contsp {
    background: linear-gradient(rgb(7, 7, 7) 0 0) bottom /var(--t, 0) 2px no-repeat;
    transition: all 0.2s;
}

.text_j_contsp:hover {
    --t: 100%;
    color: black;
    position: relative;
    bottom: 2px;
    padding-bottom: 4px;
    cursor: pointer;
}

/* Стили для контейнера с играми */

.container_games {
    margin-top: 15px;
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
}

.cont_info_game {
    width: 70%;
    height: auto;
    background-color: #FFD88C;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 7px;
    margin-bottom: 10px;
}

/* Настройка стилей для элементов контейнера */

.cont_game_name {
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 27px;
    line-height: 40px;

    color: #000000;
}

.cont_game_information_to_game {
    width: 100%;
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
}

.container_image_game {
    width: 48%;
}

.container_image_game img {
    width: 100%;
    border-radius: 5px;
}

.container_information_to_game {
    width: 47%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.info_cont_header_game_text {
    display: flex;
    justify-content: center;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 580;
    font-size: 20px;
    line-height: 30px;

    color: #1f1f1f;
}

.container_info_header_togames {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.text_info_gamestogo {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 550;
    font-size: 18px;
    line-height: 22px;

    color: #000000;
}

.text_info_date {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: #070707;
    margin-left: 6px;
}

.container_game_header_description {
    width: 100%;
}

.cont_header_description_game_title {
    width: 100%;
    display: flex;
    justify-content: center;


    font-family: 'Inter';
    font-style: normal;
    font-weight: 550;
    font-size: 21px;
    line-height: 34px;

    color: #000000;
}

.cont_text_description {
    width: 100%;
    display: flex;
    justify-content: center;
}

.text_description {
    width: 96%;
}

.text_description p {
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;

    color: #000000;
}

.container_additional_image_game {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.add_image_to_game {
    margin-top: 20px;
    width: 40%;
}

.add_image_to_game img {
    width: 100%;
    height: 200px;
    border-radius: 5px;
}

.container_info_requirements_min {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.title_header_min_req {
    width: 100%;
    display: flex;
    justify-content: center;


    font-family: 'JejuGothic';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;

    color: #000000;
}

.cont_req_text_min_game {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text_min_req_game {
    display: flex;
    justify-content: center;
}

.text_min_req_game p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;

    color: #000000;
}


.info_text_min_requirement {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    margin-left: 5px;

    color: #373737;
}

.container_button_download {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.cont_button_link {
    /* width: 358px;
    height: 83px;

    background: #49CE1B;
    border-radius: 11px; */
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 39px;

    color: #000000;
}

.link_download_game {
    background: #49CE1B;
    padding: 18px 42px;
    border-radius: 11px;
    transition: all 0.2s;
}

.link_download_game:hover {
    background: #2f8f0f;
    /* color: rgb(255, 255, 255); */
}
